body::before,
body::after {
  position: fixed;
  inset: 0;
  z-index: -1;
  --grad: radial-gradient(at 15% 25%, rgb(255, 0, 0), rgba(255, 0, 0, .2), transparent);
  --mask: var(--grad), var(--grad);
  -webkit-mask: var(--mask);
  -webkit-mask-composite: source-in;
  mask: var(--mask);
  mask-composite: intersect;
  mix-blend-mode: color;
  content: '';
}

body::before {
  background: black;
  filter: url(#bgfilter);
  animation: zoom 30s infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

body::after {
  background: linear-gradient(135deg, rgb(255, 255, 0), rgb(255, 186, 182) 50%);
}

#bg::before,
#bg::after,
#bg2::before,
#bg2:after {
  position: fixed;
  inset: -50px -30px 0 0;
  z-index: -1;
  --grad: radial-gradient(at 95% 90%, rgb(255, 0, 0), rgba(255, 0, 0, .05), transparent);
  --mask: var(--grad), var(--grad);
  -webkit-mask: var(--mask);
  -webkit-mask-composite: source-in;
  mask: var(--mask);
  mask-composite: intersect;
  mix-blend-mode: soft-light;
  content: '';
}

#bg::before,
#bg2::before {
  background: black;
  filter: url(#bgfilter);
  animation: zoom 30s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#bg::after,
#bg2::after {
  background: linear-gradient(110deg, rgb(255, 186, 182), rgb(233, 65, 194) 50%,  rgb(0, 0, 255));
}

@keyframes zoom {
  25% {
    inset: 0 -50px -30px 0;
  }

  50% {
    inset: 0 0 -50px -30px;
  }

  75% {
    inset: -30px 0 0 -50px;
  }
}