body {
  position: fixed;
  inset: 0 0 0 0;
  z-index: -1;
  content: '';
  background: linear-gradient(rgba(251, 103, 18, 0.2), rgb(216, 191, 216, 0.8));
}

#sky {
  position: fixed;
  inset: 0 0 65% 0;
  background: linear-gradient(rgba(90, 189, 247, 0.5), rgb(216, 191, 216, 0.6) 80%, rgba(111, 156, 234, 0.5) 95%, rgba(92, 137, 216, 0.6));
  z-index: 3;
}

#sea::before,
#sea::after {
  position: fixed;
  inset: 34% 0 0 0;
  z-index: 0;
  content: '';
  --grad: linear-gradient(transparent, rgb(1, 1, 5, 0.3) 10%, gray 30%);
  --mask: var(--grad), var(--grad);
  -webkit-mask: var(--mask);
  -webkit-mask-composite: source-in;
  mask: var(--mask);
  mask-composite: intersect;
  mix-blend-mode: color;
  z-index: -1;
}

#sea::before {
  background: purple;
  animation: turbulenceanimation 3s infinite alternate;
  animation-timing-function: linear;
  -webkit-filter: url("#filter1");
  filter: url("#filter1");
}

#sea::after {
  background: linear-gradient(thistle, rgb(216, 191, 216, 0.6), rgba(251, 103, 18, 0.4), rgb(71, 150, 195, 0.6), darkslategrey);
}

@keyframes turbulenceanimation {
  from {
    inset: 34% 0 0 0
  }

  to {
    inset: 30% 0 0 0;
  }

  0% {
    -webkit-filter: url("#filter1");
    filter: url("#filter1");
  }

  8% {
    -webkit-filter: url("#filter2");
    filter: url("#filter2");
  }

  16% {
    -webkit-filter: url("#filter3");
    filter: url("#filter3");
  }

  24% {
    -webkit-filter: url("#filter4");
    filter: url("#filter4");
  }

  32% {
    -webkit-filter: url("#filter5");
    filter: url("#filter5");
  }

  39% {
    -webkit-filter: url("#filter6");
    filter: url("#filter6");
  }

  45% {
    -webkit-filter: url("#filter7");
    filter: url("#filter7");
  }

  52% {
    -webkit-filter: url("#filter8");
    filter: url("#filter8");
  }

  58% {
    -webkit-filter: url("#filter9");
    filter: url("#filter9");
  }

  65% {
    -webkit-filter: url("#filter10");
    filter: url("#filter10");
  }

  71% {
    -webkit-filter: url("#filter11");
    filter: url("#filter11");
  }

  78% {
    -webkit-filter: url("#filter12");
    filter: url("#filter12");
  }

  85% {
    -webkit-filter: url("#filter13");
    filter: url("#filter13");
  }

  92% {
    -webkit-filter: url("#filter14");
    filter: url("#filter14");
  }

  100% {
    -webkit-filter: url("#filter15");
    filter: url("#filter15");
  }
}

.boat {
  position: fixed;
  top: 40%;
  left: 20%;
  animation: rock 1.8s infinite alternate, move 100s infinite;
  animation-timing-function: linear;
  z-index: 3;
}

#boat2 {
  top: 45%;
  animation: rock 1.5s infinite alternate, move 80s infinite;
}

#boat3 {
  top: 42%;
  animation-delay: -60s;
}

#boat-top {
  position: relative;
  top: 0;
  left: 20%;
  width: 30px;
  height: 15px;
  background: rgba(107, 65, 144, 0.9);
}

#boat-bottom {
  position: relative;
  bottom: 0;
  background: rgba(107, 65, 144, 0.7);
  width: 90px;
  height: 18px;
  border-radius: 0 0 50% 40%;
}

#boat2 #boat-top {
  left: 60%;
  width: 20px;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent transparent rgba(107, 65, 144, 0.9) transparent;
  background: transparent;
}

#boat2 #boat-bottom {
  width: 120px;
  height: 20px;
  border-radius: 0 0 60% 70%;
}

#boat3 #boat-top {
  width: 0;
  height: 0;
  left: 5px;
  border-style: solid;
  border-width: 0 20px 120px 40px;
  border-color: transparent transparent rgba(107, 65, 144, 0.9) transparent;
  background: transparent;
}

#boat3 #boat-bottom {
  top: 1px;
}

@keyframes rock {
  from {
    transform: rotate(2deg)
  }

  to {
    transform: rotate(-2deg)
  }
}

@keyframes move {
  from {
    left: -200px;
  }

  to {
    left: 100%;
  }
}